{% extends 'base.html' %}

{% block title %}Загрузка данных из Аргус{% endblock %}


{% block content %}
    <h3>Загрузка данных из Аргус / АСТУ</h3>
    <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Внимание!</strong> Загруженный файл перепишет содержимое базы данных!
    </div>
    <p></p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="id_tech">{{ form.tech.label }}</label>
            {{ form.tech }}
        </div>
        <div class="form-group">
            <label class="custom-file">
                {{ form.file }}
                <span class="custom-file-control"></span>
            </label>
        </div>
        <button type="submit" class="btn btn-primary disabled">Загрузить</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#csv_help_modal">Помощь</button>
    </form>
{% endblock %}

{% block modal %}
    <!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="csv_help_modal" tabindex="-1" role="dialog" aria-labelledby="csv_help_modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal">Пример форматирования CSV-файла</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Якобы файл автоматически выгружается из Аргуса</p>
          <p>Пример ADSL:</p>
          <pre>ФЭС;Регион;Логич.устройство;IP;Основная услуга;Адрес;Клиент;Квартира;IPTV;ШПД;Порты xDSL(слот);Номер порта;
Ямало-Ненецкий;Ямало-Ненецкий АО, Губкинский г.;89-GBKNSK-EDG101-DSL-1[10.205.0.164];;(34936)30005;мкр 3-й, 23;Леготина М. С.;1;IP-TV Smart TUBE089004932;СПД893623347;Порты ADSL2+_AnnexA - 6;42
</pre>
          <p>Пример GPON</p>
          <pre>ФЭС;Регион;OLT;IP;Номер платы HPSA;Номер порта на плате HPSA;Сплиттер;Код ИП сплиттера;Регион сплиттера;Адрес сплиттера;Группа опт. портов;Номер порта;Цвет;№ ОРК;Код региона услуги;Услуга;Клиент;Регион установки;Адрес установки;Квартира;Номер наряда ЛИРА;ШПД;IP-TV;SIP/IMS;
Ямало-Ненецкий;Ямало-Ненецкий АО, Губкинский г.;89-GBKNSK-BB01-O1 Huawei(мкр 4-й, 25)[10.228.102.250];10.228.102.250;1;0;89-GBKNSK-BB01-O1 Huawei(мкр 4-й, 25)[10.228.102.250] - РО-1-0(1:8) - 6-20/1(1:8);';Ямало-Ненецкий АО, Губкинский г.;мкр 6-й, 20;оп-0-2;0;_красн;;34936;(34936)Порт13787;Харитон М. З.;Ямало-Ненецкий АО, Губкинский г.;мкр 6-й, 20;6;76664711;СПД893626931;IP-TV Smart TUBE089078420;</pre>
          <p>Пример FTTx</p>
          <pre>ФЭС;Регион;КД;Плата; Код ИП платы;Порт;Услуга;Наряд Лира;ШПД;IPTV;SIP/IMS;Клиент;Адрес;Квартира;Точка на КРТ;КРТ;Емкость КРТ;
Ямало-Ненецкий;Ямало-Ненецкий АО, Губкинский г.;89-GBKNSK-EDG147-SW-1[10.205.0.230];2  (Плата портов СПД);';_2;(34936)Порт11752;99461644;;;IMS29015;Акционерное общество "Партнер";ул Панель 4, 0;;;;</pre>
          <p>Пример АСТУ</p>
          <pre>Узел;Сетевое имя;Адрес;Структурный уровень;Класс;Производитель;Модель;Инвентарный номер;Статус;Количество свободных портов;Точка подключения;Комментарий;Адрес управления;Категория;Тип Wi-Fi;Последняя миля;Подключение к устройству; IP устройства подключения;Сегмент;Серийный номер;Дата ввода в эксплуатацию
89-PANGD-EDG104;89-PANGD-EDG104-DSL-3;пгт. Пангоды, ул. Мира, д.17, оф.;DSLAM;DSLAM;Alcatel;7302 FD;;эксплуатация;0;не опр.;1285283;10.205.12.168;A4;;; ; ;DSLAM;3FE26685AA;13.09.2011</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
