{% extends 'base.html' %}

{% block title %}Данные по ADSL-портам{% endblock %}

{% block content %}
    <div class="container-fluid" xmlns="http://www.w3.org/1999/html">
        <form method="post" class="form-inline">
            {% csrf_token %}
            <div class="form-group mx-sm-3">
                {{ form }}
            </div>
            <button type="submit" class="btn btn-primary">Искать</button>
        </form>
        <h2>Данные из БД:</h2> {{ search }}
        <script type="application/javascript">
        {% if search %}

            var search_string = "{{ search }}";
            console.log('search string was set')

        {% else %}
            var search_string = '';
        {% endif %}
        </script>
        {% include page_template %}
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}el-pagination/js/el-pagination.js"></script>
    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollChunkSize: 5
        });
    </script>
{% endblock %}
