{% extends 'base.html' %}

{% block title %}Данные по ADSL-портам{% endblock %}

{% block content %}
    <div class="container-fluid">
        {{ form.as_p }}
        <h2>Данные из БД:</h2>
        {% include page_template %}
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}el-pagination/js/el-pagination.js"></script>
    <script>
        $.endlessPaginate({
            paginateOnScroll: true,
            paginateOnScrollChunkSize: 5
        });
    </script>
{% endblock %}
