{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Список активных заданий{% endblock %}

{% block content %}
    <h2>Список активных заданий</h2>
    <form method="post" class="form-inline">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-primary">Искать</button>
    </form>

    <form method="get" action="{% url 'net:archive_tasks' %}">
        <button type="submit" class="btn btn-warning">Архивировать старые</button>
    </form>
    <table class="table table-hover">
    <thead><tr>
        <td>Celery ID</td>
        <td>Script Name</td>
        <td>Created / Completed</td>
        <td>Status</td>
        <td>NE</td>
        <td>Управление</td>
    </tr></thead>
    <tbody>
    {% for job in job_list %}
        <tr id="job_row_{{ job.id }}">
            <td>
            <button type="button" class="btn btn-secondary" title="Celery ID" data-trigger="focus" data-toggle="popover" data-placement="top" data-content="{{ job.celery_id }}">
                #
            </button>
            </td>
            <td>{{ job.script_name }}</td>
            <td>{{ job.created|date:"d.m.Y H:i:s" }}<br />
                {{ job.completed|date:"d.m.Y H:i:s" }}
            </td>
            <td data-status-id="{{ job.id }}" id="status-{{ job.id }}">{{ job.status }}
                <br />
                {% if job.meta.current %}
                {% widthratio job.meta.current job.meta.total 100 as percent %}
                <div class="progress">
                    <div class="progress-bar progress-bar-animated progress-bar-striped" role="progressbar" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}%">{{ percent }}%</div>
                </div>
                {% endif %}
            </td>
            <td>{{ job.ne_id.hostname }}<br>({{ job.ne_id.ne_ip }})</td>
            <td>
                <button type="button" class="btn btn-outline-secondary btn-sm" title="Обновить" onclick="refresh_task('{{ job.id }}')">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-outline-danger btn-sm" title="Завершить" onclick="terminate_task('{{ job.id }}')">
                    <i class="fa fa-power-off" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-outline-danger btn-sm" title="Удалить" onclick="delete_task('{{ job.id }}')">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-success btn-sm" title="Результат" onclick="task_result('{{ job.id }}')">
                    <i class="fa fa-print" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

{% if is_paginated %}
    <nav>
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}&task_status={{ task_status }}" class="page-link">&laquo;</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li class="page-item"><a href="?page={{ i }}&task_status={{ task_status }}" class="page-link">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}&task_status={{ task_status }}" class="page-link">&raquo;</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
    </ul>
    </nav>
{% endif %}


{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
    <script src="{% static 'js/tasks.js' %}"></script>
{% endblock %}



{% block modal %}
    <!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="task_result_modal" tabindex="-1" role="dialog" aria-labelledby="task_result_modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModal">Некий заголовок</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Некий длинный текст
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
