{% extends 'base.html' %}
{% block title %}Задания{% endblock %}
{% block content %}
    <h3>Запущено задание:</h3>
    <p>{{ script_name }} ({{ script_descr }}) (класс: {{ class_name }})</p>
    <h3>На следующем оборудовании:</h3>
    <dl class="row">
    {% for ne in ne_list %}
        <dt class="col-sm-6"> {{ ne.hostname }}({{ ne.ne_ip }})</dt><dd class="col-sm-6"> {{ ne.vendor }} {{ ne.model }}</dd>
    {% endfor %}
    </dl>
    <br><br>
    <h4><a href="/net/active_tasks">Активные задания</a></h4>


{% endblock %}
