{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block title %}Discovered NE List{% endblock %}

{% block content %}
    <h1>Discovered NE List</h1>

    <form method="post" class="form-inline">
        {% csrf_token %}
        <div class="form-group mx-sm-3">
                {{ form }}
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

<p>Найдено: {{ row_count }}</p>
    {% if ne_list %}
        </div>
            <div class="container-fluid">
           <table class="table table-striped table-bordered table-hover table-sm">
                <thead>
                <tr>
                    <th>Hostname</th>
                    <th>IP</th>
                    <th>Vendor</th>
                    <th>Model</th>
                    <th>Login/pass</th>
                </tr>
                </thead>
                <tbody>

        {% for ne in ne_list %}
            <tr>
                <td>{{ ne.hostname }}</td>
                <td>{{ ne.ne_ip }}</td>
                <td>{{ ne.vendor }}</td>
                <td>{{ ne.model }}</td>
                <td>{{ ne.credentials_id }}</td>
            </tr>

        {% empty %}
            <p>Не найдено</p>
        {% endfor %}
                </tbody>
           </table>
        </div>
    {% endif %}


    {% if is_paginated %}
        <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}&is_login_discovered={{ is_login_discovered }}&is_vendor_discovered={{ is_vendor_discovered }}" class="page-link">&laquo;</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                    <li class="page-item"><a href="?page={{ i }}&is_login_discovered={{ is_login_discovered }}&is_vendor_discovered={{ is_vendor_discovered }}" class="page-link">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item"><a href="?page={{ page_obj.next_page_number }}&is_login_discovered={{ is_login_discovered }}&is_vendor_discovered={{ is_vendor_discovered }}" class="page-link">&raquo;</a></li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
        </nav>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/popper.js' %}"></script>
    {{ block.super }}
    <script>
    // tooltip initialization
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
    </script>

{% endblock %}
