{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Выбор задачи для NE{% endblock %}

{% block content %}
    <form>
        <div class="row form-inline">
            <label for="vendors_select">Vendor: </label>
            <select class="form-control w-25" id="vendors_select">
                <option value="All">All</option>
            </select>
            <label for="models_select">Model: </label>
            <select class="form-control w-25" id="models_select">
                <option value="All">All</option>
            </select>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <select name="from[]" id="multiselect" class="multiselect form-control" size="8" multiple="multiple">

                </select>
            </div>

            <div class="col-sm-2">
                <button type="button" id="multiselect_rightAll" class="btn btn-block"><i class="fa fa-forward"></i></button>
                <button type="button" id="multiselect_rightSelected" class="btn btn-block"><i class="fa fa-chevron-right"></i></button>
                <button type="button" id="multiselect_leftSelected" class="btn btn-block"><i class="fa fa-chevron-left"></i></button>
                <button type="button" id="multiselect_leftAll" class="btn btn-block"><i class="fa fa-backward"></i></button>
            </div>

            <div class="col-sm-5">
                <select name="to[]" id="multiselect_to" class="form-control" size="8" multiple="multiple"></select>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascript %}
{{ block.super }}
    <script src="{% static 'js/pick-ne.js' %}"></script>


{% endblock %}
